<!doctype html>
<html lang="en">

<head>
    <title>Terms of service</title>
    {% extends "navigation.html" %}
    {% block content %}
    {% load static %}
</head>

<body style="background-color: #FFFFF0;">

    <div class="container">
        <div class="row" style="padding-top: 10px; ">
            <div class="col-sm">
                <h1 style="color: #ec5800;">Terms of service</h1>
                <hr>
            </div>
        </div>

        &nbsp;
        <div class="row">
            <p>Welcome to the Oaxaca restaurant website (the "Site"). The following terms and conditions (these "Terms
                and Conditions"), govern your use of the Site. Please read these Terms and Conditions carefully before
                using the Site. By accessing, browsing or using the Site, you acknowledge that you have read,
                understood, and agree to be bound by these Terms and Conditions and to comply with all applicable laws
                and regulations. If you do not agree to these Terms and Conditions, please do not use the Site.</p>
        </div>
        &nbsp;

        <div class="row">
            <u><h3>Use of Site</h3></u>
            <p>The Site and all its content, including but not limited to text, design, graphics, logos, icons, images,
                audio clips, digital downloads, data compilations, software, and the selection and arrangement thereof
                (collectively, the "Materials"), are the property of Oaxaca restaurant or its licensors and are
                protected by Oaxaca Limited and international copyright laws. You may not sell, license, rent, modify,
                distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit, or
                create derivative works from the Materials. You may not use the Site for any commercial purposes. Any
                unauthorized use may violate copyright, trademark, and/or other laws.</p>
        </div>
        &nbsp;

        <div class="row">
            <u><h3>Disclaimers and Limitation of Liability</h3></u>
            <p>THE SITE, THE MATERIALS, AND THE SERVICES ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER
                EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION ANY WARRANTY FOR INFORMATION, SERVICES, UNINTERRUPTED
                ACCESS, OR PRODUCTS PROVIDED THROUGH OR IN CONNECTION WITH THE SITE, INCLUDING WITHOUT LIMITATION THE
                SOFTWARE LICENSED TO YOU AND THE RESULTS OBTAINED THROUGH THE SITE. SPECIFICALLY, WE DISCLAIM ANY AND
                ALL WARRANTIES, INCLUDING WITHOUT LIMITATION: 1) ANY WARRANTIES CONCERNING THE AVAILABILITY, ACCURACY,
                USEFULNESS, OR CONTENT OF INFORMATION, AND 2) ANY WARRANTIES OF TITLE, WARRANTY OF NON-INFRINGEMENT,
                WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.</p>

                <p> THIS DISCLAIMER OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF PERFORMANCE,
                ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS,
                COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF
                RECORD, WHETHER FOR BREACH OF CONTRACT, TORTIOUS BEHAVIOR, NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF
                ACTION.</p>

                <p>YOU SPECIFICALLY ACKNOWLEDGE THAT WE ARE NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF
                OTHER USERS OR THIRD PARTIES, AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS ENTIRELY WITH YOU.</p>

                <p> NEITHER OAXACA RESTAURANT NOR ANY OF ITS AFFILIATES, LICENSORS OR SERVICE PROVIDERS, NOR ANY OF THEIR
                OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, SUCCESSORS, ASSIGNS, CONTENT PROVIDERS, OR OTHER REPRESENTATIVES
                WILL BE LIABLE FOR DAMAGES OF ANY KIND INCLUDING, WITHOUT LIMITATION, INDIRECT, INCIDENTAL,
                CONSEQUENTIAL, SPECIAL, EXEMPLARY, OR SIMILAR DAMAGES, WHETHER IN CONTRACT, TORT, STRICT LIABILITY, OR
                OTHERWISE, AND WHETHER SUCH DAMAGES ARISE IN NEGLIGENCE, TORT, STRICT LIABILITY, OR OTHERWISE, AND
                WHETHER OR NOT SUCH DAMAGES ARE FORESEEN OR UNFORESEEN. SUCH DAMAGES INCLUDE, WITHOUT LIMITATION,
                DAMAGES FOR LOSS OF PROFITS, USE, DATA, OR OTHER INTANGIBLE DAMAGES.</p>

                <p>YOU AGREE THAT THE AGGREGATE LIABILITY OF OAXACA RESTAURANT TO YOU FOR ALL CLAIMS ARISING FROM THE USE
                OF THE SITE OR SERVICES WILL NOT EXCEED THE AMOUNT YOU PAID TO OAXACA RESTAURANT FOR THE USE OF THE SITE
                OR SERVICES.</p>
        </div>
        &nbsp;

        <div class="row">
            <u><h3>Indemnification</h3></u>
            <p>You agree to indemnify, defend and hold harmless Oaxaca restaurant, its affiliates, licensors, and
                service providers, and their respective officers, directors, employees, agents, successors, assigns,
                content providers, and other representatives from and against any and all claims, damages, liabilities,
                costs, and expenses (including reasonable attorneys' fees) arising from your use of the Site or
                Services, your violation of these Terms and Conditions, or your infringement of any intellectual
                property or other right of any person or entity.</p>
        </div>
        &nbsp;

        <div class="row">
            <u><h3>User Conduct</h3></u>
            <p>You agree to use the Site only for lawful purposes. You are prohibited from posting on or transmitting
                through the Site any unlawful, harmful, threatening or otherwise objectionable material of
                any kind, including without limitation any material that would encourage conduct that would constitute a
                criminal offense, give rise to civil liability, or otherwise violate any law.</p>
        </div>
        &nbsp;

        <div class="row">
            <u><h3>Modifications to Terms and Conditions and Site</h3></u>
            <p>Oaxaca restaurant reserves the right, at its sole discretion, to change, modify, add or remove portions
                of these Terms and Conditions at any time, without prior notice to you. Your continued use of the Site
                following the posting of changes to these Terms and Conditions means you accept such changes. Oaxaca
                restaurant also reserves the right to modify, suspend or discontinue the Site or any portion thereof
                with or without notice to you and without liability.</p>
        </div>
        &nbsp;

        <div class="row">
            <u><h3>Third Party Sites</h3></u>
            <p>The Site may contain links to other web sites on the Internet that are owned and operated by third
                parties. You acknowledge that Oaxaca restaurant is not responsible for the availability of, or the
                content located on or through, any third-party site. You should contact the site administrator or
                webmaster for those third-party sites if you have any concerns regarding such links or the content
                located on such sites. Your use of those third-party sites is subject to the terms of use and privacy
                policies of each site, and we are not responsible therein. We encourage all users to review said privacy
                policies of third-parties' sites.</p>
        </div>
        &nbsp;

        <div class="row">
            <u><h3>Governing Law</h3></u>
            <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of the State
                of Oaxaca, without giving effect to any principles of conflicts of law. You agree that any
                action at law or in equity arising out of or relating to these Terms and Conditions shall be filed only
                in the state or federal courts located in Mexico and you hereby consent and submit to the
                personal jurisdiction of such courts for the purposes of litigating any such action.</p>
        </div>

    </div>

</body>

</html>
{% endblock %}