<!DOCTYPE hmtl>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Manage Tables</title>

        <!-- importing bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        {% extends "internal-navigation.html" %}
        {% block content %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/waiter-manage-tables.css' %}">
    </head>

    <body>
        <script type="text/javascript">
            function moveTable(elem) {
                const txt = 'button ' + elem.id;
                if( $(elem).parent().attr("id") == "free" ){
                    $(elem).detach().appendTo('#myTables');
                    document.getElementById(txt).innerHTML = "Remove";
                }
                else{
                    $(elem).detach().appendTo('#free');
                    document.getElementById(txt).innerHTML = "Add";
                }
            }
        </script>


        <main>
            <div class="d-flex justify-content-start">
                <h1>Manage Tables</h1>
            </div>

            <div class="wrapper">

                <div class="free" id="free">
                    <div class="container tables">
                        <h2>Free Tables</h2>
                    </div>

                    {% for free_tables in unassigned_tables %}
                        {% if free_tables.1 == NULL %}
                        <h3 id="table{{free_tables.0}}">
                            Table {{free_tables.0}} &emsp;&emsp;&emsp;&emsp;&emsp;
                            <span id="button table{{free_tables.0}}" class="fw-normal badge text-bg-warning" onclick="moveTable(table{{free_tables.0}}); location.href='add_table_assignment/{{ waiter }}/{{ free_tables.0 }}/Add';">
                                Add
                            </span>
                        </h3>                            
                        {% endif %}
                    {% endfor %}

                </div>

                <div class="vl"></div>

                <div class="myTables" id="myTables">
                    <div class="container tables">
                        <h2>My Tables</h2>
                    </div>
                    
                    {% for mytable in assigned_to_me %}
                        {% if mytable.1 %}
                        <h3 id="table{{mytable.0}}">
                            Table {{mytable.0}} &emsp;&emsp;&emsp;&emsp;&emsp;
                            <span id="button table{{mytable.0}}" class="fw-normal badge text-bg-warning" onclick="moveTable(table{{mytable.0}}); location.href='remove_table_assignment/{{ waiter }}/{{ mytable.0 }}/Remove';">
                                Remove
                            </span>
                        </h3>
                        
                        {% endif %}
                    {% endfor %}

                </div>

                <div class="align-self-end">
                    <button type="button" class="btn btn-outline-warning" style="color:black;" onclick="location.href='{% url 'my-tables' %}'">My Tables &#62&#62</button>
                </div>

            </div>
        </main>
    </body>
</html>
{% endblock %}