body {
    font-family: 'Roboto', sans-serif;
    background: rgb(255, 255, 240);
    margin:0;
    padding: 0;
}

.container {
    text-align: center;
    position: relative;
    margin: auto;
    padding: 2rem;
}

.wrapper {
    border-radius: 1rem;
    background: rgb(251, 236, 179);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem;
    padding: 4rem;
}
.btn.btn-primary {
    background-color: #EC5800;
    border-color: #EC5800;
    margin: 0 -5px 0 -5px;
    width: 300px;
    height: 150px;
    min-width: 75px;
}
.btn.btn-primary:hover {
    background-color: #fa813b;
}
.Order.Status{
    background-color: #EC5800;
    border-color: #EC5800;
    border-radius: 20px;
    padding-top: 10px;
    width: 8vw;
    height: 10vh;
    font-weight: bold;
    min-width: 100px;
    min-height: 5vh;
}
.Preparing{
    background-color: rgb(224, 26, 26);
    margin-top: 13px;
    padding-top: 10px;
    height: 5vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.Cooking{
    background-color: rgb(214, 111, 26);
    margin-top: 13px;
    padding-top: 10px;
    height: 5vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.Finished{
    background-color: rgb(28, 212, 21);
    margin-top: 13px;
    padding-top: 10px;
    height: 5vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}